.delivery-addresses-container {
  .header-container {
    margin-bottom: 20px;
  }

  .user-address-card-container {
    margin-bottom: 20px;

    a.edit-link-button:first-of-type {
      margin-right: 15px;
    }
  }
}