.checkout-container {
  .product-price-label, .product-price {
    display: inline-block;
  }

  .product-price-label {
    font-size: 20.7px;
  }

  .action-buttons-container {
    margin-top: 10px;
  }
}