.product-container {
  .product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
    margin: 0px auto;
  }

  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }

  .indicator {
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border: 1px #666 solid;
    margin: 0;
  }

  .indicator.active {
    color: #fff;
    background: #666;
  }

  .product-price {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .product-title {
    font-size: 32px;
  }

  .product-description {
    white-space: pre-wrap;
  }

  .product-detail-card {
    .card-body > div {
      margin-bottom: 20px;
    }
  }
}